<div class="addTaskForm">
    <form action="" class="addForm">
        <input [(ngModel)]="newTask" name="newTask" type="text" placeholder="Enter task ...">
        <input class="addBtn" type="button" value="Add" (click)="addTask()">
    </form>
</div>
<div class="table">
    <table>
        <tr>
            <th>#</th>
            <!-- <th>ID</th> -->
            <th>Task</th>
            <th>Check</th>
            <th>DONE/IN PROGRESS</th>
            <th>Edite</th>
            <th>Delete</th>
        </tr>
        <tbody>
            <tr *ngFor="let task of tasks; let i = index;">
                <td>{{i+1}}</td>
                <!-- <td>{{task.id}}</td> -->
                <td>{{task.task}}</td>
                <td>
                    <input type="checkbox" (click)="staTus(i)" [checked]='check' (change)="check = !check" />
                </td>
                <td>
                    <p>{{task.status}}</p>
                    <!-- <p *ngIf="!status">{{task.status}}</p> -->
                </td>
                <td>
                    <button (click)="edit(i)" class="button editeButton">edit</button>
                </td>
                <td>
                    <button (click)="delete(i)" class="button deleteButton">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <form action="" class="editForm" *ngIf="editForm">
        <input type="text" [(ngModel)]="taskEdite" name="taskEdite">
        <input type="button" class="addBtn" value="Save" (click)="save()">
    </form>
</div>